body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #1f1792;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.header .logo h1 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbar a:hover {
  color: #ff6347;
}

/* Hero Section */
.hero {
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background-color: #e5533d;
}

/* Product Section */
.products {
  text-align: center;
  padding: 50px 20px;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.product-card h3 {
  font-size: 20px;
  color: #466192;
  margin: 10px 0;
}

.product-card .price {
  font-size: 18px;
  color: #ff6347;
  margin: 10px 0;
}

.product-card button {
  background-color: 466192;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.product-card button:hover {
  background-color: #555;
}

/* Features Section */
.features {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.features h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.feature-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.feature-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 16px;
  color: #555;
}

/* Footer */
.footer {
  background-color: skyblue;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.footer .social-links a:hover {
  color: #ff6347;
}